.bash_history
.ICEauthority
.Xauthority
.cache
.cinnamon
.config
.dbus
.fonts
.ssh
Desktop
Downloads
.zsh-update
.zsh_history
.zcompdump*
.z
.gnome
.gnome2
.xsession-errors
.linuxmint
.local
.pki
.mozilla
.googleearth
.wireshark
.z*
scripts/bristol*
